name: Node.js CI  
on:  
  push:  
    branches: [ main ]  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    steps:  
    - name: Checkout  
      uses: actions/checkout@v2  
    - name: cache npm  
      uses: actions/cache@v2  
      with:  
        path: ~/.npm  
        key: ${{ runner.os }}-npm-${{ hashFiles('frontend/package.json') }}  
    - name: Install Node.js  
      uses: actions/setup-node@v2  
      with:  
        node-version: '14'  
    - name: npm install  
      run: npm install  
      working-directory: frontend  
    - name: Run tests  
      run: npm test  
      working-directory: frontend  
    - name: Build  
      run: npm run build  
      working-directory: frontend  
    - name: Deploy  
      run: npm run deploy  
      working-directory: frontend  
